.rounded:hover {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cb60b3+0,c146a1+50,a80077+51,db36a4+100;Pink+Gloss */
  background: rgb(203, 96, 179); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(203, 96, 179, 1) 0%,
    rgba(193, 70, 161, 1) 50%,
    rgba(168, 0, 119, 1) 51%,
    rgba(219, 54, 164, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(203, 96, 179, 1) 0%,
    rgba(193, 70, 161, 1) 50%,
    rgba(168, 0, 119, 1) 51%,
    rgba(219, 54, 164, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(203, 96, 179, 1) 0%,
    rgba(193, 70, 161, 1) 50%,
    rgba(168, 0, 119, 1) 51%,
    rgba(219, 54, 164, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4',GradientType=0 ); /* IE6-9 */
  border: 1px solid gray !important;
  color: white;
}
.navbar {
  height: 5vh !important;
  padding-top: 0;
  // margin-bottom: 10px;
}
.active {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cb60b3+0,c146a1+50,a80077+51,db36a4+100;Pink+Gloss */
  background: rgb(203, 96, 179); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(203, 96, 179, 1) 0%,
    rgba(193, 70, 161, 1) 50%,
    rgba(168, 0, 119, 1) 51%,
    rgba(219, 54, 164, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(203, 96, 179, 1) 0%,
    rgba(193, 70, 161, 1) 50%,
    rgba(168, 0, 119, 1) 51%,
    rgba(219, 54, 164, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(203, 96, 179, 1) 0%,
    rgba(193, 70, 161, 1) 50%,
    rgba(168, 0, 119, 1) 51%,
    rgba(219, 54, 164, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4',GradientType=0 ); /* IE6-9 */
  border: 1px solid gray !important;
  color: white;
}
