<div class="container p-5">
  <div class="row">
    <div class="col-6">
      <h5 class="py-3">Pending Projects</h5>
      <ul class="list-group">
        <li
          class="list-group-item"
          (click)="goToProject(c.p_id)"
          *ngFor="let c of pending"
        >
          <h6>{{ c.name }}</h6>
          <p>{{ c.description }}</p>
        </li>
      </ul>
    </div>
    <div class="col-6">
      <h5 class="py-3">Completed Projects</h5>
      <ul class="list-group">
        <li
          class="list-group-item"
          (click)="goToProject(c.p_id)"
          *ngFor="let c of complete"
        >
          <h6>{{ c.name }}</h6>
          <p>{{ c.description }}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
